/*
The purpose of this file is to use some plain CSS to simplify the code.
*/

/* Import Tailwind CSS base, components, and utilities */
@tailwind base;          /* Loads base styles for consistency */
@tailwind components;    /* Provides pre-built components */
@tailwind utilities;     /* Includes utility classes for styling */

/* Global styles for the `body` element */

body {
  background-color: #e7edf0;
  margin: 0;                      /* Removes default margin around the page */
  font-family:Arial, Helvetica, sans-serif;           /* Sets the font to Calibri */
}



nav {
  display: fixed;
  padding-top: 5px;
}

.example {
  color: #ffe0c7;
}

.highlight {
  color:#95b3c2;
  border-bottom: solid 3px #95b3c2;
}

.highlight-dark {
  color:white;
  border-bottom: solid 3px white;
}

.custom-scale:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgb(148, 148, 148);
}

.shadow {
  box-shadow: 0 6px 8px rgb(148, 148, 148);
}



/* Class to hide the mobile navigation menu */
.hideMenuNav {
    display: none;                /* Completely hides the menu */
}

/* Class to show and style the mobile navigation menu */
/* Keyframes for slide-down animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Start above the viewport */
    opacity: 0;                  /* Start fully transparent */
  }
  to {
    transform: translateY(0);    /* End at the original position */
    opacity: 1;                  /* Fully visible */
  }
}

/* Menu styling with animation */
.showMenuNav {
    display: block;                /* Makes the menu visible */
    position: absolute;            /* Positions the menu relative to its nearest positioned ancestor */
    width: 100%;                   /* Menu takes the full width of the viewport */
    height: 40vh;                  /* Menu height is 40% of the viewport */
    top: 0;                        /* Positions the menu at the top of the viewport */
    left: 0;                       /* Aligns the menu to the left edge */
    color: white;                  /* Sets text color to black */
    display: flex;                 /* Uses flexbox for layout */
    flex-direction: column;        /* Arranges child elements vertically */
    justify-content: space-evenly; /* Evenly spaces out child elements along the vertical axis */
    align-items: left;             /* Centers child elements horizontally */
    z-index: 60;
    padding-left: 70px;
    animation: slideDown 0.3s ease-out; /* Apply the slide-down animation */
}

